

body {
  font-family: Roboto,sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgb(18,18,19);
  color: #fff;
  user-select: none;
}

#title {
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;flex-wrap: nowrap;align-content: space-around;
}

#stats-div {
  text-align: right;
}
#stats-button {
  color: #fff;
  height: 70px;
  width: 160px;
  background-color: rgb(15, 197, 60);
  border-radius: 8px;
  border:none;
  margin-right: -200px;
  font-size: 40px;
}


@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

#stats_screen {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  border: none;
  z-index: 1;
}

#s2 {
  margin: auto;
  margin-top: 190px;
  width: 450px;
  height: 500px;
  border-radius: 8px;
  border: none;
  background-color: rgb(18,18,19);
  z-index: 100;
  animation: slideIn 0.25s ease-in-out;
  text-align: center;
  overflow: auto;
}

#statistics {
  display: flex;
}


#stat-container-played, #stat-container-win-per, #stat-container-cur-streak, #stat-container-max-streak {
  flex: 1;
}

#stat {
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}


#label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#distribs {
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
}

#sep {
  border: none;
  background: white;
}

#nex {
  color: white;
  font-size: 27px;
}

#next {
  margin-top: -80px;
  margin-left: -180px;
  font-size: 20px;
  font-weight: 700;
}

#share {
  background:hsl(115, 29%, 43%);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 80px;
  margin-right: -190px;
}

#share:hover {
  background:hsl(114, 42%, 59%);
}


#stats_top, #distrib_top {
  margin-top: 30px;
  font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
#s2.hide {
  animation: slideOut 0.25s ease-in-out;
}




#stats-button:hover {
  background-color: rgb(14, 223, 66);
  cursor: pointer;
}



.guess_container {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow:1;
  grid-template-columns: repeat(6,4em);
  grid-template-rows: repeat(8,4em);
  gap:0.25em;
  margin-bottom: 1em;
  margin-top: -50px;
}

.tile {
  font-size: 2em;
  color: white;
  border : 0.05em solid hsl(240,2%,23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile.shake {
  animation: shake 250ms ease-in-out;

}

.tile.dance {
  animation : dance 500ms ease-in-out;
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7%);
  }
  70% {
    transform: translateX(7%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}


.tile.flip {
  transform: rotateX(90deg); 
}

.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%)
}

.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%)
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%)
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%)
}

.alert-container {
  position:fixed;
  top: 17vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  color: black;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}


button.icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
}

